{% extends "databob/base.html" %}
{% load static %}


{% block filter-area %}
    {% if cat_filter %}

    <div class="filter">
        <form method="get">
            <div id="filter-item">
            {{ cat_filter.form.as_p }}
            </div>

            <button class="search-btn" type="submit">Apply filter...</button>
        </form>

    </div>
   

    {% else %}
    <h1>keine liste</h1>
    {% endif %}
    

{% endblock %}



{% block db-area %}
    {% if cat_filter %}
        <ul class="pcat-all">
            {% for cf in cat_filter.qs %}    
                <li class="pcat-container">
                        <h2><a href="{% url 'databob-home' %}">{{ cf.cat }}</a></h2>
                        <img src="{{ cf.img.url }}" alt="Cat Pic" class="pcat-pic">
                        <p><a href="{% url 'databob-home' %}"> {{ cf.upvotes }}</a></p>
                    </li>
                {% endfor %}
                </ul>

        {% else %}
            <h1>keine liste</h1>
        {% endif %}
{% endblock %}



{% block dynamic-area %}
{% if comments %}
    <ul class="dynamic-all">
        {% for c in comments %}
            <li class="dynamic-container">
                <p> <a href="{% url 'databob-sbd' pk=c.product.pk %}">{{ c.product }}</a> </p>
                <p> {{ c.comment }} </p>
                <p> <a href="{% url 'databob-usr' pk=c.user.pk %}">{{ c.user }} </a> </p>

            </li>
        
        {% endfor %}

    </ul>

{% else %}
{% endif %}


{% endblock %}




